@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html{
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.header{
  width: 100%;
  height:1600px;
  position: absolute;
}

.header.shad{
  z-index: -998;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #FFFFFF 100%);
}

.header.grad{
  z-index: -999;
  background: linear-gradient(180deg, #f8e8fd 0%, #e8fefc 32.81%, #ebfcea 65.1%, #e3dfff 100%);
  background-size: 200% 200%;
  -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 10s ease infinite;
}

@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.label{
  background-color: #eaeaea;
  width: fit-content;
  padding: 4px;
}
.bubble{
  width: 800px;
  height: 800px;
  position: fixed;
  opacity: 0.2;
}
.test-bubble{
  width: 2000px;
  height: 2000px;
  position: fixed;
  opacity: 0.8;
  background-size: 100% 100%;
}
.bubble.b100{
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  filter: blur(100px);
}
.bubble.b200{
  -webkit-filter: blur(400px);
  -moz-filter: blur(400px);
  -o-filter: blur(400px);
  -ms-filter: blur(400px);
  filter: blur(400px);
}
.main-con{
width: 1300px;
margin-left: auto;
margin-right: auto;
}
.main-con.flex{display:flex;justify-content:space-around;}
.half1{width: 65%;margin-right: 10%;}
.half2{width: 25%;}
.half3{width: 20%;}
.half4{width: 64%;margin-left: 16%;}
.half5{width: 50%;margin-right: 20%;}
.half6{width: 30%;}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.9);
  }
}
@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(2.4);
      opacity: 1;
      background-color: black;
  }
  100% {
      transform: scale(1);
      
  }
}

.expand {
  animation: cursorAnim3 .2s forwards;
  border: 2px solid black;
}


body{
  font-family: 'Inter UI', sans-serif;
  text-rendering: geometricPrecision;
  margin: 0;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(0,0,0,.6);
}
.role{
  display: flex;
}
.role .role-title{
  width: 75%;
  max-width: 300px;
  margin-right: 50px;
}
.role .role-descr{
  width: fit-content;
}

.btn{
  text-decoration: none;
  display: flex;
  width: fit-content;
}
.btn div{
  padding: 12px 22px;
  background-color: black;
  color: white;
  border-radius: 40px;
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 22px;
  transition-duration: 100ms;
}
.btn div:hover{
  transform: scale(1.1);
  transition-duration: 150ms;
}
.contacts {
  font-family: 'DM Sans',sans-serif;
  font-size: 25px;
  display: inline-block;
  font-weight: 400;
  color: black;
  line-height: 3;
  letter-spacing: -1.4px;
  text-decoration: underline;
  margin-right: 40px;
  transition-duration: 150ms;
}
.contacts:hover{
  transform: scale(1.1);
}

.contacts.button{
  text-decoration: none;
  color: white;
  padding: 0px 20px;
  border-radius: 14px;
  background-color: #000;
}

.shot{
  width: 100%;
}
.shot .shot-preview{
  width: 100%;
  padding-top: 72%;
  background-color: #fafafa;
  background-position: center;
  background-size: 100%;
  transition-duration: 200ms;
}
.shot .shot-preview:hover{
  /*transform: scale(.95);*/
  -webkit-box-shadow:inset 0px 0px 0px 3px #000;
    -moz-box-shadow:inset 0px 0px 0px 3px #000;
    box-shadow:inset 0px 0px 0px 3px #000;
  transition-duration: 200ms;
  background-size: 110%;
}
.shot .h7 {
  width: 100%;
}
.black100{color:#18191A;}
.black80{color:rgba(0,0,0,.8);}
.black60{color:rgba(0,0,0,.6);}
.l-h2{line-height: 2;}
.w4{font-weight: 400;}
.w5{font-weight: 500;}
.fs1{font-size: 0.85em;}
	.a-special{text-decoration: none;text-decoration: none;padding-bottom: 2px;border-bottom-style: solid;
    border-bottom-width: 2px;border-bottom-color: #D9D9D9;}

.a-special:hover{
  color: black;
  border-bottom-color: black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom-width: 3px;
}

.title{
  font-family: 'DM Sans',sans-serif;
  font-weight: 700;
  width: 100%;
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -4px;
  margin-bottom: 120px;
  margin-left: -4px;
  margin-top: 20px;
}
.title a{
  color:black;
  text-decoration: none;
  border-bottom: 4px solid #000;
  box-shadow: inset 0 0px 0 #000;
  transition-duration: 150ms;
}
.title a:hover{
  color:#fff;
	background-size: 400% 400%;
  box-shadow: inset 0 100px 0 #000;
	animation: gradient 4s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
  50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.1;
}
.h7{
  font-size: 1.1em;
}

.h8 {
  font-size: 0.8em;
  line-height: 2;
}
.sub-head{font-size: 0.7em;font-weight: 500;letter-spacing: 3px;margin-bottom: 70px;}
.bold-head{
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: -2px;
}
.projects-item,.cta{
  width: fit-content;
  display: flex;
  color:#18191A;
  fill:#18191A;
  text-decoration: none;
}
.avatar{
    width: 80px;
    cursor: pointer;
    height: 80px;
    margin: 130px 0 50px 0;
    background-image: url(../images/profile2.png);
    background-size: 100% 100%;
    border-radius: 50%;
    transition: 250ms;
    -webkit-box-shadow: 0 10px 31px -14px rgb(0 0 0);
    -moz-box-shadow: 0 10px 31px -14px rgb(0 0 0);
    box-shadow: 0 10px 31px -14px rgb(0 0 0);
}
.avatar:hover{
  transform: scale(1.1) rotate(-3deg);
  transition-duration: 250ms;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
    -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* Tooltip text */
.tooltip .tooltiptext {
  left: 90px;
  font-size: 0.7em;
  transition-duration: 250ms;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 12px;
  border-radius: 20px;
  opacity: 0;
  /*transform: scale(0);*/
  
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  /*transform: scale(1);*/
}
.anim{
  transform: scale(1) rotate(3deg);
  transition-duration: 250ms;
}
.anim-active{
  transform: scale(1) rotate(-3deg)!important;
  transition-duration: 250ms;
}
/* Mozilla based browsers */
::-moz-selection {
  background-color: rgb(0, 247, 215);
  color: #000;
}

/* Works in Safari */
::selection {
  background-color: rgb(0, 247, 215);
  color: #000;
}

.h7 a{font-weight: 600;}
.trasl{font-family: 'DM Sans', sans-serif;}
.trasl:hover {transform: translatex(10px);transition: all .2s;}

.mt0{margin-top: 0px!important;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt50{margin-top: 50px;}
.mt120{margin-top: 120px;}

.w100{width: 100%;}
.s1hs{width: 70%;margin-left: 30%;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}.mb30{margin-bottom: 30px;}.mb40{margin-bottom: 40px;}.mb50{margin-bottom: 50px;}.mb55{margin-bottom: 55px;}.mb60{margin-bottom: 60px;}.mb80{margin-bottom: 80px;}.mb90{margin-bottom: 90px;}	
.mb90{margin-bottom: 90px;}
.mb100{margin-bottom: 100px;}
.mb110{margin-bottom: 110px;}
.mb140{margin-bottom: 140px;}

.hl1-section {
  padding: 100px 0;
  margin: 70px 0;
}
.hl1-section.gray{
  background-color: #F8F8F8;
}
.hl1-section.first-margin{
  margin: 120px 0 0 0;
}

.gray{
  color: #555;
}

.award {
  display: block;
  text-indent: -9999px;
  width: 176px;
  height: 85px;
  background-size: 100%!important;
  background-repeat:no-repeat;
}
.award.particular {
  background: url(../images/awards/particular.svg);
}
.award.mxm1 {
  background: url(../images/awards/mxm1.svg);
}
.award.mxm2 {
  background: url(../images/awards/mxm2.svg);
}
.award.mxm3 {
  background: url(../images/awards/mxm3.svg);
}
.award.mxm4 {
  background: url(../images/awards/mxm4.svg);
}
.award.mxm1,.award.mxm2,.award.mxm3,.award.mxm4{
  margin-left: 26px;
  margin-bottom: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}
.fit {height: fit-content;}

.txtright{text-align: right;}

.form-container{
  width:400px;
  text-align: center;
  margin: auto;
  font-size: 15px;
}
.form-container .avatar{
  background-image: url(../images/profile2.png);
        background-size: 100% 100%;
        border-radius: 50%;    width: 40px;
    height: 40px;margin: 60px auto 20px auto;
}


@media only screen and (min-width: 1271px) and (max-width: 1490px) { 

.main-con{width: 80%!important;}

}
@media only screen and (min-width: 921px) and (max-width: 1270px) { 

  .main-con{width: 80%!important;}
  .title{
    width: 820px;
    font-size: 2.2em;
  }
  .role{display: block;}
  .role-title{
    width: 100%!important;
    max-width: 100%!important;
  }
  .role-descr{
    width: 100%!important;
    margin-top: 40px;
  }
  .iconoir{width: 100%;}
  }


@media only screen and (min-width: 561px) and (max-width: 920px) { 

.main-con{width: 80%;}
.title{
  font-size: 3em;
  width: 100%;
}
.shot{
  width: 100%;
}


.half1,.half2,.half3,.half4,.half5{width: 100%;margin:0;text-align: left;}
.half4 {margin-top: 70px;}
.main-con.flex{display:inherit;justify-content:inherit;}
.award.mxm1,.award.mxm2,.award.mxm3,.award.mxm4{margin-left: 0;margin-right: 26px;}
.s1hs{width: 100%;margin-left: 0;}

.half6{width: 100%!important;}
.iconoir{display: none;}
}

/* Mobile */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 560px),only screen and (max-width: 560px) { 

.main-con{
  width: 86%;
}
body{font-size: 16px;margin-left: auto;margin-right: auto;}
.avatar{
  position: inherit;
  width: 70px;
  height: 70px;
  margin: 50px 0 20px 0;
}
.shot{
  width: 100%;
}
.title{width:100%;font-size: 2.3em;font-weight: 500;line-height: 1.2;letter-spacing: -3px;margin-bottom: 90px;}
.hl1-section{padding: 60px 0;margin: 60px 0;}
.hl1-section.first-margin{
  margin: 50px 0 0 0;
}
.half1,.half2,.half3,.half4,.half5{width: 100%;margin:0;text-align: left;}
.half4 {margin-top: 70px;}
.main-con.flex{display:inherit;justify-content:inherit;}
.award.mxm1,.award.mxm2,.award.mxm3,.award.mxm4{margin-left: 0;margin-right:10px;width: 46%;}
.s1hs{width: 100%;margin-left: 0;}
.award{width: 158px;height: 74px;}
.trasl {
  font-size: 1.4em;
  line-height: 1.2;
}
.cta{
  background-color: #EEE;
  width: 100%;
  border-radius: 8px;
  padding: 20px 0;
}
.cta div{
  margin: auto;
}
.cta:hover{
  background-color: #E1E1E1;
  transition-duration: 250ms;
}
.sub-head{
  font-size: 0.8em;
}
html {
  cursor: auto;
}
a {
  cursor: pointer;
}
.h8{font-size: 1em;}

.role{display: block;}
.role-title{
  width: 100%!important;
  max-width: 100%!important;
}
.role-descr{
  width: 100%!important;
  margin-top: 40px;
}
.half6{width: 100%!important;}

.contacts-cont{
  display: flex;
  justify-content: space-between;
}

.contacts {
  padding: 0px 12px;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-right: 0;
  text-align: center;
}
.iconoir, .bubbles{display: none;}
}