:root {
  --bg: #F4F4F4;
  --main: #000;
  --secondary: #7f7f7f;
  --light-hover: #c7c7c7;
  --light: #d4d4d4;
  --guidelines: #CFCFCF;
}
/* Dark theme */
.dark-theme {
  --bg: #1A1A1A; /* Dark background */
  --main: #FFF; /* Light text */
  --secondary: #a8a8a8;
  --light-hover: #444;
  --light: #333;
  --guidelines: #424242;
}

html{
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-rendering: geometricPrecision;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0;
  font-size: 24px;
  line-height: 1.5;
  color: var(--secondary);
  background-color: var(--bg);
}

.printer-dx{
  background-image: url(../images/printer-dx.svg);
    background-size: 100% 100%;
    top: 16px;
    right: 16px;
    position: fixed;
    width: 33px;
    height: 253px;
}
.printer-sx{
  background-image: url(../images/printer-sx.svg);
    background-size: 100% 100%;
    top: 16px;
    left: 16px;
    position: fixed;
    width: 33px;
    height: 33px;
}

.guideline-top{
  border-top: 1px solid transparent;
    background-image: linear-gradient(to right, var(--guidelines) 10px, transparent 10px);
    background-position: bottom;
    background-size: 20px 1px;
    background-repeat: repeat-x;
    width: 100%;
    height: 128px;
    position: absolute;
}
.guideline-out{
width: 1440px;
margin-left: auto;
margin-right: auto;
border-left: 1px solid var(--guidelines);
border-right: 1px solid var(--guidelines);
}

.guideline-in{
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-image: linear-gradient(to bottom, var(--guidelines) 10px, transparent 10px),
                    linear-gradient(to bottom, var(--guidelines) 10px, transparent 10px);
  background-position: left, right;
  background-size: 1px 20px;
  background-repeat: repeat-y;
}
.title-guideline{
margin-left: auto;
margin-right: auto;
border-top: 1px solid var(--guidelines);
border-bottom: 1px solid var(--guidelines);
position: absolute;
width: 100%;
height: 100px;
z-index: -99;
transition-duration: 0.6s;
}

.main-con{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-con.flex{
  display:flex;
  justify-content:space-around;
}

span{
  color: var(--secondary);
}
a{
  text-decoration: none;
}
.a-cta{
  width: fit-content;
  display: block;
}

/* Typography */

.text-100{
  color: var(--main);
  font-size: 5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -4px;
  margin-bottom: 80px;
  margin-left: -4px;
  margin-top: 20px;
}
.text-100 a, .text-500 a, .text-550 a{
  color:var(--main);
  text-decoration: none;
  border-bottom: 3px solid var(--main);
  box-shadow: inset 0 0px 0 var(--main);
  transition-duration: 150ms;
}
.text-100 a:hover, .text-500 a:hover, .text-550 a:hover{
  color:#fff;
	background-size: 400% 400%;
  box-shadow: inset 0 100px 0 var(--main);
	animation: gradient 4s ease infinite;
	height: 100vh;
}
.text-200{
  color: var(--main);
  font-size: 4.6em;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -2px;
  margin-bottom: 100px;
}
.text-300{
  color: var(--main);
  font-weight: 700;
  font-size: 2em;
  line-height: 1.1;
}
.text-400{
  color: var(--main);
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.1;
}
.text-550{
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: -0.4px;
}
.text-500{
  font-weight: 400;
  font-size: 0.84em;
  letter-spacing: -0.4px;
}
.text-600 {
  font-weight: 500;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.1;
}
.text-700{
  font-size: 1em;
  color: var(--main);
}
.text-800 {
  font-size: 0.7em;
  line-height: 2;
}
.subline{
  color: var(--main);
  font-size: 0.8em;
}
.black {
  color: var(--main);
}
.light{
  color: var(--light);
}
.highlight{
  color: var(--main);
  font-weight: 500;
}

.data{
  text-align: right;
}
.data .text-500.value{
  color: var(--main);
  margin-bottom: 48px;
  font-weight: 500;
}

.header{
  width: 100%;
  height:1600px;
  position: absolute;
}

.half1{width: 65%;margin-right: 10%;}
.half2{width: 25%;}
.half3{width: 20%;}
.half4{width: 64%;margin-left: 16%;}
.half5{width: 50%;margin-right: 20%;}
.half6{width: 30%;}

.role{
  display: flex;
}
.role .role-title{
  width: 75%;
  max-width: 360px;
  margin-right: 10%;
}
.role .role-descr{
  width: fit-content;
}
.contacts {
  font-size: 0.9em;
  display: inline-block;
  font-weight: 500;
  color: var(--main);
  line-height: 3;
  letter-spacing: -1px;
  text-decoration: underline;
  margin-right: 40px;
  transition-duration: 150ms;
}
.contacts:hover{
  transform: scale(1.1);
}
.divider{
  height: 1px;
  width: 100%;
  background-color: #D9D9D9;
  margin: 30px 0 60px 0;
}
form button{
  font-family: 'Satoshi-Medium';
}
.contacts.button{
  text-decoration: none;
  color: var(--main);
  padding: 0px 20px;
  border-radius: 14px;
  background-color: var(--light);
}
.contacts.button:hover{
  background-color: var(--light-hover);
}
.fs1{font-size: 0.85em;}
	.a-special{text-decoration: none;text-decoration: none;padding-bottom: 2px;border-bottom-style: solid;
    border-bottom-width: 2px;border-bottom-color: #D9D9D9;}

.a-special:hover{
  color: black;
  border-bottom-color: black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom-width: 3px;
}
.sub-head{
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: var(--main);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, var(--guidelines) 10px, transparent 10px),
                      linear-gradient(to right, var(--guidelines) 10px, transparent 10px);
    background-position:top, bottom;
    background-size: 20px 1px;
    background-repeat: repeat-x;
    margin-bottom: 56px;
}
.cta{
  text-decoration: none;
  color: var(--main);
  padding: 14px 24px;
  border-radius: 14px;
  font-size: 0.8em;
  background-color: var(--light);
  transition: all .2s;
  width: fit-content;
}
.cta img{
  margin-left: 10px;
}
.cta:hover{
  background-color: var(--light-hover);
  transform: scale(1.1);
  transition: all .2s;
}
.cta img{
  transition: all .2s;
}
.cta:hover img{
  transform: translatex(6px);
  transition: all .2s;
}
.cta:hover span{
  transform: scale(1.2);
  transition: all .2s;
}
.confetti:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.avatar{
    width: 80px;
    cursor: pointer;
    height: 80px;
    margin: 130px 0 0 0;
    background-image: url(../images/profile.png);
    background-size: 100% 100%;
    border-radius: 50%;
    transition: 250ms;
    -webkit-box-shadow: 0 10px 31px -14px rgb(0 0 0);
    -moz-box-shadow: 0 10px 31px -14px rgb(0 0 0);
    box-shadow: 0 10px 31px -14px rgb(0 0 0);
}
.avatar:hover{
  transform: scale(1.1) rotate(-3deg);
  transition-duration: 250ms;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
    -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* Tooltip text */
.tooltip .tooltiptext {
  left: 90px;
  font-size: 0.7em;
  transition-duration: 250ms;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 12px;
  border-radius: 20px;
  opacity: 0;
  /*transform: scale(0);*/
  
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  /*transform: scale(1);*/
}
.anim{
  transform: scale(1) rotate(3deg);
  transition-duration: 250ms;
}
.anim-active{
  transform: scale(1) rotate(-3deg)!important;
  transition-duration: 250ms;
}
/* Mozilla based browsers */
::-moz-selection {
  background-color: #ffcf2a;
  color: #000;
}

/* Works in Safari */
::selection {
  background-color: #ffcf2a;
  color: #000;
}

.text-700 a{font-weight: 600;}

.mt0{margin-top: 0px!important;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt50{margin-top: 50px;}
.mt120{margin-top: 120px;}

.w100{width: 100%;}
.s1hs{width: 70%;margin-left: 30%;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}.mb30{margin-bottom: 30px;}.mb40{margin-bottom: 40px;}.mb50{margin-bottom: 50px;}.mb55{margin-bottom: 55px;}.mb60{margin-bottom: 60px;}.mb80{margin-bottom: 80px;}.mb90{margin-bottom: 90px;}	
.mb90{margin-bottom: 90px;}
.mb100{margin-bottom: 100px;}
.mb110{margin-bottom: 110px;}
.mb140{margin-bottom: 140px;}

.hl1-section {
  padding: 100px 0;
  margin: 70px 0;
}
.hl1-section.first-margin{
  margin: 120px 0 0 0;
}

.awards {
  height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.award {
  display: block;
  text-indent: -9999px;
  width: 176px;
  height: 85px;
  margin-bottom: 30px;
  background-size: 100%!important;
  background-repeat:no-repeat;
}
.award.particular {
  background: url(../images/awards/particular.svg);
}
.award.mxm1 {
  background: url(../images/awards/mxm1.svg);
}
.award.mxm2 {
  background: url(../images/awards/mxm2.svg);
}
.award.mxm3 {
  background: url(../images/awards/mxm3.svg);
}
.award.mxm4 {
  background: url(../images/awards/mxm4.svg);
}
.award.mxm1,.award.mxm2,.award.mxm3,.award.mxm4{
  display: inline-block;
  background-repeat: no-repeat;
}

.txtright{text-align: right;}

.form-container{
  width:400px;
  text-align: center;
  margin: auto;
}
.form-container .avatar{
  background-image: url(../images/profile.png);
  background-size: 100% 100%;
  border-radius: 50%;    width: 40px;
  height: 40px;margin: 60px auto 20px auto;
}


@media only screen and (min-width: 1271px) and (max-width: 1490px) { 

.guideline-in{width: 80%!important;}
.guideline-out{width: 84%!important;}
}
@media only screen and (min-width: 921px) and (max-width: 1270px) { 

  .guideline-in{width: 80%!important;}
  .guideline-out{width: 84%!important;}
  .role{display: block;}
  .role-title{
    width: 100%!important;
    max-width: 100%!important;
  }
  .role-descr{
    width: 100%!important;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 561px) and (max-width: 920px) { 

.guideline-in{width: 80%;}
.guideline-out{width: 84%;}


.half1,.half2,.half3,.half4,.half5{width: 100%;margin:0;text-align: left;}
.half4 {margin-top: 70px;}
.main-con.flex{display:inherit;justify-content:inherit;}
.award.mxm1,.award.mxm2,.award.mxm3,.award.mxm4{margin-left: 0;margin-right: 26px;}
.s1hs{width: 100%;margin-left: 0;}

.half6{width: 100%!important;}
}

/* Mobile */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 560px),only screen and (max-width: 560px) { 

.guideline-in{
  width: 86%;
}
.guideline-out{
  width: 90%;
}
body{font-size: 16px;margin-left: auto;margin-right: auto;}
.avatar{
  position: inherit;
  width: 70px;
  height: 70px;
  margin: 50px 0 20px 0;
}
.hl1-section{padding: 60px 0;margin: 60px 0;}
.hl1-section.first-margin{
  margin: 50px 0 0 0;
}
.half1,.half2,.half3,.half4,.half5{width: 100%;margin:0;text-align: left;}
.half4 {margin-top: 70px;}
.main-con.flex{display:inherit;justify-content:inherit;}
.award.mxm1,.award.mxm2,.award.mxm3,.award.mxm4{margin-left: 0;margin-right:10px;width: 46%;}
.s1hs{width: 100%;margin-left: 0;}
.award{width: 158px;height: 74px;}
.cta .text-700 {
  font-size: 1.4em;
  line-height: 1.2;
}
.cta{
  background-color: #EEE;
  width: 100%;
  border-radius: 8px;
  padding: 20px 0;
}
.cta div{
  margin: auto;
}
.cta:hover{
  background-color: #E1E1E1;
  transition-duration: 250ms;
}
.sub-head{
  font-size: 0.8em;
}
html {
  cursor: auto;
}
a {
  cursor: pointer;
}
.text-800{font-size: 1em;}

.role{display: block;}
.role-title{
  width: 100%!important;
  max-width: 100%!important;
}
.role-descr{
  width: 100%!important;
  margin-top: 40px;
}
.half6{width: 100%!important;}

.contacts-cont{
  display: flex;
  justify-content: space-between;
}

.contacts {
  padding: 0px 12px;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-right: 0;
  text-align: center;
}

}